@font-face {
  font-family: font;
  src: url(templeos_font.otf);
}

.bobbing {
  position: relative;
  animation-name: Animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes Animation {
  0%   {top: 40%;}
  100% {top: 60%;}
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topright {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
}
.centerright {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  transform: translate(0%, -50%);
}
.topleft {
  position: absolute;
  top: 8px;
  left: 8px;
}

.bordered{
	border-style: double;
	border-width:10px;21
}
.glow{
	box-shadow: 0px 0px 60px 15px gold;
}
button
{
	background-color:transparent;
    border: none;
}
button:hover{
		mix-blend-mode: screen;
		filter: drop-shadow(0px 0px 15px white);
	}
html, button, a{
	height: 100%;
	cursor: url("cross.png") 8 8, auto;
}